/*police titre "Montserrat", sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*police texte  "Open Sans", sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --blanc: #FFFFFF ;
    --jaune: #FAB637;
    --rouge: #FF4848;
    --marron: #CC6119;
    --gris: #ECEFF3;
    --noir: #232628;
    --bleu: #6C98E1;
}

