@import url(./charte.css);

html {
    overflow-x: hidden;
    height: 100%;
}

.site-content {
	flex: 1;
}
body {
    color: var(--noir);
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

p, a, ul, button {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

header {
    background: var(--noir);
}


.navbar-collapse{
    background: var(--blanc);
}

.white {
    color: var(--blanc);
}

.orange {
    color: var(--orange);
}

.noir {
    color: var(--noir);
}

.blue {
    color: var(--bleu);
}

.gris {
    color: var(--gris);
}

.bg-gris {
    background: var(--gris);
}

.bg-blanc {
    background: var(--blanc);
}

.bg-noir {
        background: var(--noir);
}

.bg-orange {
    background: var(--orange);
}

.bg-bleu {
    background: var(--bleu);
}

.bg-grisf {
    background:rgb(56, 56, 56);
}


header button {
    color: var(--bleu);
}

.navbar-toggler-icon{
    color: var(--bleu);
}

.navbar-toggler {
    border: none; 
    box-shadow: none;
    background: transparent;
}

.navbar-toggler:focus {
    outline: none; 
    box-shadow: none; 
}

.plusvoit {
    width: 100%;
}

.burger {
    top: 30px;
    right: 20px;
}

.img-contact {
    background: url(./images/vehicule3.jpg);
    background-size: cover; 
    background-position: start; 
    width: 100%; 
    height: 40vh;
    position: absolute;
    z-index: -1;
    max-height: 30vh;
}

.imgperson {

    height: auto;
}

.plusvoit-content {
    height: 450px;
    overflow: hidden;
    object-fit: cover;
}

.margintitle {
    background: var(--noir);
}


.active-orange {
    background: var(--orange);
    color: var(--blanc);
}


.titles {
    font-size: 2.4rem;
}

.bold {
    font-weight: 700;
}

.custom-hr {
    border: 0;
    height: 2px;
    background-color: #CC6119; /* Couleur personnalisée */
    margin: 2rem 0; 
}

.margin-nav {
    margin-right: 150px;
}

.height-price {
    height: 60px;
}

.height-input {
    height: 30px;
}

.width-input {
    width: 30px;
}

.margin-b {
    margin-bottom:60px;
}

.little-title {
    font-size: 1rem;
}

.little-p {
    font-size: 0.8rem;
}


.sec-fond {
    background: no-repeat url(./images/img-fond.jpg);
    padding: 10px 0 10px 0 ;
}

.sec-fond img {
    height: 100%;
}

.sec-color{
    margin: 40px 0;
    padding: 50px 130px 50px 90px;
}

.sec-jaune {
    background: var(--jauneTrans);
}

.sec-rouge {
    background: var(--rougeTrans);
}

.sec-fond2 {
    background: no-repeat url(./images/vehicule3.jpg);
    background-size: cover;

}

.margin-t {
    margin-top: 100px;
}

.margin-t-xl {
    margin-top: 200px;
}

@media screen and (min-width: 992px) {
    .margintitle {
        margin-top: 450px;
        background: var(--noir);
    }
    .main {
        margin-top: 500px;
    }
    .margin-nav {
        margin-top: 0;
    }

    .abso {
        position: absolute;
    }
    .titles-lg {
        font-size: 1.5rem;
    }
    .litlle-size {
        font-size: 0.8rem;
    }
    .very-litlle-size {
        font-size: 0.6rem;
    }
    .w-lg-50 {
        width: 50%;
    }
    
    }
