@import url(./charte.css);

header {
    position: absolute;
    width: 100%;
    background: var(--noir);
    height: 40vh;
    font-family: "Montserrat", sans-serif;
    color: var(--blanc);
}

.bi-list {
    display: block;
    margin: 10px;

}

.header-num {
    color: var(--orange);
}

.bi-telephone-fill{
    width: 25px;
    height: 25px;
}

header a {
    text-decoration: none;
    color: var(--blanc);
}